<div class="container-fluid mt-body">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="/customer/homepage"
                    >Home</a
                >
                <a class="breadcrumb-item text-dark" href="/customer/cart"
                    >Shopping Cart</a
                >
                <span class="breadcrumb-item active">Checkout</span>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3">
                <span class="bg-secondary pr-3">Thông tin đơn hàng</span>
            </h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <div class="table-responsive">
                        <table class="table table-borderless text-center mb-0">
                            <thead>
                                <tr class="border-0">
                                    <th>Thumbnail</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Tổng tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% items.forEach(item => { %>
                                    <tr class="border-0">
                                        <td class="align-middle">
                                            <img
                                                src="<%= item.product.thumbnail %>"
                                                style="width: 60px; height: 60px"
                                                class="border-primary border border-2 rounded-1"
                                                alt="Thumbnail"
                                            />
                                        </td>
                                        <td class="align-middle"><%= item.product.title %></td>
                                        <td class="align-middle"><%= item.quantity %></td>
                                        <td class="align-middle">$<%= (item.quantity * item.product.price).toFixed(2)%></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="border-bottom pt-3 pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Tạm tính</h6>
                        <h6>
                            $<span class="subtotal">
                                <%= items.reduce((subtotal, i) => subtotal +
                                i.quantity * i.product.price, 0).toFixed(2) %>
                            </span>
                        </h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">
                            $<span class="shipping">0</span>
                        </h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Tổng tiền</h5>
                        <h5>$<span class="total"></span></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3">
                <span class="bg-secondary pr-3">Thanh toán</span>
            </h5>
            <div class="bg-light p-30">
                <div class="form-group mb-4">
                    <div class="custom-control custom-radio">
                        <input
                            type="radio"
                            class="custom-control-input"
                            name="payment"
                            id="banktransfer"
                            checked
                        />
                        <label class="custom-control-label" for="banktransfer"
                            >Chuyển khoản</label
                        >
                    </div>
                </div>
                <button
                    class="btn btn-block btn-primary font-weight-bold py-3 place-order"
                    data-items="<%= JSON.stringify(items) %>"
                >
                    Đặt đơn hàng
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(".total").html(+$(".subtotal").html() + +$(".shipping").html());
    $(".place-order").on("click", async function () {
        const items = $(this).data("items");
        const totalPrice = +$(".total").html();
        const res = await fetch("/customer/api/order", {
            method: "post",
            headers: {
                "Content-type": "application/json",
            },
            body: JSON.stringify({
                totalPrice,
            }),
        });
        const { order } = await res.json();

        for (const item of items) {
            await fetch("/customer/api/orderdetail", {
                method: "post",
                headers: {
                    "Content-type": "application/json",
                },
                body: JSON.stringify({
                    orderId: order.id,
                    productId: item.productId,
                    quantity: item.quantity,
                }),
            });
            await fetch(`/customer/api/cart/${item.id}`, {
                method: "delete",
            });
        }
        window.location.href = "/customer/payment";
    });
</script>
