<div class="row">
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-2">
            <span class="bg-secondary pr-3">Danh sách sản phẩm</span>
        </h2>
        <div class="d-flex px-xl-5 justify-content-end mb-4">
            <div class="dropdown">
                <button
                    class="btn btn-outline-success dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    Lọc sản phẩm
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="/"
                            >Không</a
                        >
                    </li>
                    <li>
                        <a class="dropdown-item" href="?range=under_50"
                            >Dưới 50$</a
                        >
                    </li>
                    <li>
                        <a class="dropdown-item" href="?range=50_100"
                            >Từ 50$ đến 100$</a
                        >
                    </li>
                    <li>
                        <a class="dropdown-item" href="?range=100_500"
                            >Từ 100$ đến 500$</a
                        >
                    </li>
                    <li>
                        <a class="dropdown-item" href="?range=500_1000"
                            >Từ 500$ đến 1000$</a
                        >
                    </li>
                    <li>
                        <a class="dropdown-item" href="?range=above_1000"
                            >Trên 1000$</a
                        >
                    </li>
                </ul>
            </div>
        </div>
        <div
            class="row px-xl-5 userData"
            data-userid="<%= user ? user.id : '' %>"
        >
            <% products.forEach(product => { %>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img
                            class="product-thumbnail w-100"
                            src="<%= product.thumbnail %>"
                            alt=""
                        />
                        <div class="product-action">
                            <a
                                class="btn btn-outline-dark btn-square addToCart"
                                href="javascript:void(0);"
                                data-productid="<%= product.id %>"
                                data-productstock="<%= product.stock %>"
                                ><i class="fa fa-cart-plus"></i
                            ></a>
                            <a
                                class="btn btn-outline-dark btn-square"
                                href="/product/<%= product.id %>"
                                ><i class="fa fa-eye"></i
                            ></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a
                            class="h6 text-decoration-none text-truncate"
                            href="javascript:void(0);"
                            ><%= product.title %></a
                        >
                        <div
                            class="d-flex align-items-center justify-content-center mt-2"
                        >
                            <h5>
                                $<%= (product.price * 0.01 * (100 -
                                product.discountPercentage)).toFixed(2) %>
                            </h5>
                            <h6 class="text-muted ml-2">
                                <del>$<%= product.price %></del>
                            </h6>
                        </div>
                        <div
                            class="d-flex align-items-center justify-content-center mb-1"
                        >
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small>(100)</small>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>
<%- include('toast') %>

<script>
    const userId = $(".userData").data("userid");
    $(".addToCart").on("click", async function () {
        if (!userId) {
            window.location.href = "/login";
        } else {
            const productId = $(this).data("productid");
            const stock = +$(this).data("productstock");
            if (stock < 1) return;
            await privateAxios().post("/api/cart", {
                quantity: 1,
                productId,
            });
            const res = await privateAxios().get("/api/cart");
            const { items } = res.data;
            $(".cart-badge").html(items.length);

            const toastLiveExample = $("#liveToast");
            const toastBootstrap =
                bootstrap.Toast.getOrCreateInstance(toastLiveExample);
            toastBootstrap.show();

            await privateAxios().put("/api/product", {
                quantity: -1,
                id: productId,
            });
            $(this).data("productstock", stock - 1);
        }
    });
</script>
