<div class="d-flex detailUser">
      <img src={{data.avatar}} alt="image" style="width: 200px; height :200px">
      <div class="bg-light" style="width: 100%;">
            <div><b>Email : </b> {{data.email}}</div>
            <div><b>Role : </b> {{data.role}}</div>
            <div><b>Username : </b> {{data.username}}</div>
            <div><b>Gender : </b> {{data.gender}}</div>
            <div><b>Date of birth : </b> {{data.dob}}</div>
      </div>
</div>